<template name="callToAction">
	{{#unless currentuser}}
	<div class="call-to-action">
		<div class="header">
			Connecting people with skills to people in need.
		</div>
		<div class="tagline">
			Join our community of <span class="diff-makers">{{usercount}} difference makers</span> <a href="http://www.wired.com/business/2013/11/bill-gates-wired-essay/">improving the world</a>.
		</div>
		{{/unless}}
		<div class="cta-btn" id="gotoProjects">
			<div class="btn-header">I have a skill</div>
			<div class="btn-desc">Filter open projects by listing your skillset</div>
		</div>
		<div class="cta-or">OR</div>
		<div class="cta-btn" id="postProject">
			<div class="btn-header">I have a project</div>
			<div class="btn-desc">List your project below to be seen by potential contributors</div>
		</div>
	</div>
</template>
